en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl#sha256=86cc141f63942d4b2c5fcee06630fd6f904788d2f0ab005cce45aadb8fb73889
Fiddler==0.11.1
playsound==1.2.2
PyQt6==6.8.1
PyQt6_sip==13.9.1
pythonnet==3.0.5
Requests==2.32.3
spacy==3.7.2
Brotli==1.1.0

